
@model GuestWhoIAm.Models.Entry
@{
    ViewData["Title"] = "Add";
}

<h1>Add new Entry</h1>

@using(Html.BeginForm("Add","Entry", FormMethod.Post))
{
  
    @Html.ValidationSummary()
    <div id="AddPage">
    <div id="AddPageHolder">


  <div id="AddPageBox">
      <div class="name"> 
          <span>Entry author4 haha:</span> @Html.TextBoxFor(x=>x.Author)
        </div>                          
        <div class="content">
          <span>content of the riddle</span>@Html.TextAreaFor(x=>x.Content)
       </div>
              <div class="answer">
         <span>Correct Answer</span>@Html.TextBoxFor(x=>x.CorrectAnswer)
      </div>
       <div class="email">
         <span>Entry email</span>@Html.TextBoxFor(x=>x.Email)
      </div>
      @Html.HiddenFor(x=>x.Answers)

   
   
 
      </div>
</div>
</div>
    
    
    
    
    <button typeof="submit">send</button>
    
}



